@import "tailwindcss";


:root {
  --background: #F5F8FA;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-oswald: var(--font-oswald);
  --font-playfair: var(--font-playfair);
  --font-sans: var(--font-oswald);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;

}